*{margin: 0;padding: 0;font-family: "微软雅黑" !important;}
html{font-size: 20px;}
li{ list-style:none; }
a{ text-decoration:none; }
img{ vertical-align:top; }
body{background: #73d5e7;}
header{
	width: 18.0rem;
	height: 1.25rem;
	overflow: hidden;
	background: #1b1b1b;
}
header img{
	float: left;
	margin-top: 0.1rem;
	margin-left: 0.25rem;
	width: 1.975rem;
}
header h1{
	color: #fff;
	float: left;
	margin-top: 0.5rem;
	margin-left: 0.25rem;
	font-size: 0.45rem;
	font-weight: bold;
}
header p{
	font-size: 0.45rem;
	height: 100%;
	padding-left: 0.875rem;
	color: #fff;
	font-weight: bold;
	float: right;
	margin-right: 0.2rem;
	line-height: 1.25rem;
	background: url(../image/phone.png) no-repeat 0 center;
	background-size: 0.55rem 0.65rem;
	padding-top: 0.125rem
}
.banner{
	width: 18.0rem;
	height: 15.75rem;
	position: relative;
	background: url(../image/banner.jpg) no-repeat center;
	background-size: 18.0rem 15.75rem
}
.banner img{
	position: absolute;
}
.banner img:nth-child(1){
	top: 1.0rem;
	left: 1.5rem;
	width: 15.15rem
}
.duang1{
	animation: duang 1s ease-in-out forwards;
}
.duang3{
	animation: duang3 1.5s ease-in-out forwards;
}
@keyframes duang2{
  0% {transform: scale3d(1,1,1);}
  10%,20% {transform: scale3d(.9,.9,.9) rotate3d(0,0,1,-3deg);}
  30%,50%,70%,90% {transform: scale3d(1.05,1.05,1.05) rotate3d(0,0,1,3deg);}
  40%,60%,80% {transform: scale3d(1.05,1.05,1.05) rotate3d(0,0,1,-3deg);}
  100% {transform: scale3d(1,1,1);}
}
@keyframes duang3{
  0%{
    opacity: 0;
    transform: translateX(25.0rem);
  }
  75% {
    opacity: 1;
    transform: translateX(0) skewX(-20deg);
  }
  100%{transform:skewX(0deg);}
}
.banner img:nth-child(2){
	top: 9.8rem;
	left: 0.25rem;
	width: 17.425rem
}
.duang2{
	animation: duang2 1s ease-in-out forwards;
}
.duang4{
	animation: duang2 1.5s ease-in-out forwards;
}
@keyframes duang{
  0%{
    opacity: 0;
    transform: translateX(25.0rem);
  }
  75% {
    opacity: 1;
    transform: translateX(0) skewX(-40deg);
  }
  100%{ opacity: 1;transform:skewX(0deg);}
}
.youhui{
	width: 18.0rem;
	height: 9.25rem;
	overflow: hidden;
}
.youhui h1{
	font-size: 0.85rem;
	color: #166a9f;
	text-align: center;
	line-height: 0.85rem;
}
.youhui h1 span{
	color: #e83837
}
.youhui_cc{
	width: 18.0rem;
	height: 5.5rem;
	overflow: hidden;
	background: url(../image/youhui_cc.png) no-repeat center;
	background-size: 18.0rem 5.5rem;
	margin-top: 0.8rem;
}
.youhui_cc div{
	float: left;
	width: 3.65rem;
	margin-left: 2.2rem;
}
.youhui_cc div:nth-child(1){
	margin-left: 1.325rem;
}
.youhui_cc div p{
	font-size: 0.75rem;
	line-height: 0.9rem;
	text-align: center;
	font-weight: bold;
	color: #c48b10;
	margin-top: 0.6rem
}
.youhui_cc div a{
	font-size: 0.6rem;
	display: block;
	height: 1.05rem;
	line-height: 1.05rem;
	color: #fff;
	background: url(../image/bt1.png) no-repeat center;
	background-size: 3.65rem 1.05rem;
	text-align: center;
	margin-top: 0.25rem
}
.youhui > p{
	font-size: 0.6rem;
	text-align: center;
	padding-top: 0.25rem;
	height: 1.325rem;
	background: url(../image/youhui_t.png) no-repeat center;
	background-size: 14.175rem 1.575rem;
	color: #fff;
	margin-top: 0.525rem
}
.main{
	width: 17.5rem;
	height: 20.25rem;
	margin: 0 auto;
	background: #fff;
	overflow: hidden;
	margin-top: 1.0rem;
}
.main > h1{
	font-size: 0.9rem;
	text-align: center;
	line-height: 0.9rem;
	margin-top: 0.9rem;
	color: #166a9f;
}
.main > h2{
	font-size: 0.875rem;
	height: 1.75rem;
	line-height: 1.75rem;
	width: 16.95rem;
	margin: 0.275rem auto 0;
	border-top: 3px solid #166a9f;
	text-align: center;
}
.m_cc{
	width: 18.0rem;
	overflow: hidden;
}
.m_cc .cc{
	background: url(../image/main1_c.png) no-repeat center;
	background-size: 7.7rem 6.225rem;
	float: left;
	width: 7.7rem;
	height: 6.225rem;
}
.m_cc .cc:nth-child(1){
	margin-left: 0.375rem;
}
.m_cc .cc:nth-child(2){
	margin-left: 0.575rem;
}
.m_cc .cc:nth-child(3){
	margin-left: 0.375rem;
	margin-top: 0.75rem;
}
.m_cc .cc:nth-child(4){
	margin-left: 0.575rem;
	margin-top: 0.75rem;
}
.m_cc .cc h3{
	font-size: 0.6rem;
	color: #fff;
	height: 1.35rem;
	line-height: 1.35rem;
	margin-left: 0.5rem;
}
.m_cc .cc p{
	font-size: 0.6rem;
	font-weight: bold;
	text-align: center;
	line-height: 1.125rem;
}
.m_cc .cc p .yj{
	font-size: 0.5rem
}
.m_cc .cc a{
	font-size: 0.55rem;
	color: #fff;
	display: block;
	width: 3.85rem;
	height: 0.95rem;
	line-height: 0.95rem;
	text-align: center;
	background: url(../image/bt2.png) no-repeat center;
	background-size: 3.85rem 0.95rem;
	margin:  0.1rem auto 0;
}
.main > a{
	font-size: 0.6rem;
	color: #fff;
	display: block;
	width: 5.55rem;
	height: 1.2rem;
	text-align: center;
	line-height: 1.2rem;
	background: url(../image/bt3.png) no-repeat center;
	background-size: 5.55rem 1.2rem;
	margin:  0.85rem auto 0;
}
.main2{
	height: 21.45rem;
}
.main2 > h2{
	line-height: 1.175rem;
	height: 2.7rem;
	padding-top: 0.35rem;
}
.main2 .m_cc .cc{
	background: url(../image/main2_c.png) no-repeat center;
	background-size: 7.7rem 6.225rem;
}
.main2 .m_cc .cc a{
	background: url(../image/bt4.png) no-repeat center;
	background-size: 3.85rem 0.95rem;
}
.main2 > a{
	background: url(../image/bt5.png) no-repeat center;
	background-size: 5.55rem 1.2rem
}
.main4 .m_cc .cc{
	background: url(../image/main2_c.png) no-repeat center;
	background-size: 7.7rem 6.225rem;
}
.main4 .m_cc .cc a{
	background: url(../image/bt4.png) no-repeat center;
	background-size: 3.85rem 0.95rem;
}
.main4 > a{
	background: url(../image/bt5.png) no-repeat center;
	background-size: 5.55rem 1.2rem
}
.main5{
	width: 17.5rem;
	margin-top: 1.25rem;
	margin: 0 auto;
	padding-bottom: 1.125rem
}
.main5 h1{
	width: 17.5rem;
	height: 2.35rem;
	background: url(../image/main5_t.png) no-repeat center;
	background-size: 18.0rem 2.6rem;
	font-size: 0.9rem;
	text-align: center;
	color: #166a9f;
	padding-top: 0.25rem;
	margin-top: 1.25rem;
}
.main5 h1 span{
	color: #e83837
}
.m5_cc{
	width: 17.5rem;
	height: 9.35rem;
	background: url(../image/main5_cc.png) no-repeat center;
	background-size: 16.35rem 9.35rem;
}
.m5_cc img{
	float: left;
}
.m5_cc img:nth-child(1){
	margin-left: 1.125rem;
	margin-top: 3.625rem;
	width: 5.525rem;
}
.m5_cc img:nth-child(2){
	margin-left: 3.25rem;
	margin-top: 3.875rem;
	width: 5.025rem;
}
.th{
	height: 1.7rem;
}

.foot{
	width: 18.0rem;
	height: 1.7rem;
	background: #1b1b1b;
	position: fixed;
	bottom: 0;
	z-index: 9999999999;
}
.foot .tel{
	float: left;
	font-size: 0.6rem;
	height: 100%;
	line-height: 1.7rem;
	margin-left: 1.0rem;
	color: #fff;
}
.foot .tel span{
	color: #e60012;
}
.foot .QQ_ask{
	float: right;
	height: 1.7rem;
	line-height: 1.7rem;
	color: #fff;
	font-size: 0.6rem;
	margin-right: 1.0rem;
}
.bdsharebuttonbox{
	overflow: hidden;
	float: right;
	width: 2.5rem!important;
	height: 1.7rem!important;
	
}
.bdsharebuttonbox > a{
	font-size: 0.6rem!important;
	color: #fff!important;
	width: 1.375rem!important;
	height: 1.7rem!important;
	display: block!important;
	line-height: 1.7rem!important;
	padding: 0!important;
}
.bdshare-button-style0-16 a, .bdshare-button-style0-16 .bds_more{
	background-image: none!important;
}
.zixun{
	position: fixed;
	right: 2px;
	top: 40%;
}
.zixun a img{
	width: 2.35rem;
}